.download{
    background-color: #042d48;
    border-radius:10px;
    color: #fff;
    text-transform: uppercase;
}

.handingPage{
    background-color: #042d48;
}


button{
    box-shadow: 0 0,
    0 0 10px #03e9f4,
    0 0 15px #03e9f4,
    0 0 20px #03e9f4,
    0 0 25px #03e9f4;
}